{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add animal type{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <h1 class="mb-4">Add animal type</h1>

      <div class="card shadow-sm">
        <div class="card-body p-4">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br/>
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{% url "vet_clinic:pet-create" %}" class="btn btn-link">Back to creating patient</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}